<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Charts.WPF" version="1.0.0" targetFramework="net48" />
  <package id="OpenTK" version="3.3.1" targetFramework="net48" />
  <package id="OpenTK.GLWpfControl" version="3.3.0" targetFramework="net48" />
  <package id="ScottPlot" version="5.0.8-beta" targetFramework="net48" />
  <package id="ScottPlot.WPF" version="5.0.8-beta" targetFramework="net48" />
  <package id="SkiaSharp" version="2.88.3" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.3" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.3" targetFramework="net48" />
  <package id="SkiaSharp.Views.Desktop.Common" version="2.88.3" targetFramework="net48" />
  <package id="SkiaSharp.Views.WPF" version="2.88.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
</packages>